<div class="content">
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	<%= content_tag :h1, yield(:title) if show_title? %>

	<%= render partial: "layouts/sub_bar" %>

	<%= render partial: "layouts/side_navigation" %>

	<%= render partial: "layouts/top_content" %>

	<%= yield %>

</div>
